header{
    background: #7867ff;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-bottom: 1px solid black;

    h1{
        /*background-image: linear-gradient(to left, violet, lightgreen ,yellow, orange, red);   
        -webkit-background-clip: text;
        color: transparent;
        user-select: none; */
        color: white;
    }

    .links-container{
        display: flex;
        float: right;
        //justify-content: space-between;
        //width: 10%;
        list-style-type: none;
    }

    .links-container > a{
        text-decoration: none;
        background-color: #5d53bb;
        color: white;
        border-radius: 15px;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 7px;
        padding-bottom: 7px;
        &:not(:last-child){
            margin-right: 10px;
        }
    }

    .links-container > a:hover{
        background-color: #a499f5;
    }

    li{
        cursor: pointer;
        color: white;
        &:hover{
            font-weight: bold;
        }
    }
}

.link-active{
    background-color:#1d2aa1 !important;
}