.pictoSearch{
    display: flex;
    position: absolute;
    z-index: 1000;
    border: 1px solid grey;
    border-radius: 4px;
    //width: 50%;

    &__content{
        overflow: auto;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        background: #ffffff;
        //width: 100%;

        .header{
            min-height: 40px;
            height: 40px;
            color:white;
            padding-left: 14px;
            align-items: center;
            display: flex;
            flex-direction: row;
            background-color: lightblue;
            cursor: grab;
    
            button{
                position: absolute;
                top: 0;
                right: 0;
                cursor: pointer;
                margin-top: 7px;
                margin-right: 14px;
                margin-left: 14px;
                text-decoration: none;
                border: none;
                font-size: 20px;
                background: transparent;
                font-weight: bold;
            }
        }

        &__main{
            flex: 1;
            overflow: auto;
            padding-top: 14px;
            padding-bottom: 14px;
            display:flex;
            flex-direction: column;
            margin-left: 14px;
            margin-right: 14px;

            .infoPicto{
                color:rgb(110, 110, 17);
                background:rgb(236, 236, 193);
                flex-direction: row;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 7px;
                padding-bottom: 7px;
                margin-bottom: 7px;
                margin-top: 7px;
            }

            .searchInput{
                display: flex;
                height: 30px;
            }
            &__pictoResults{
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                overflow: auto;
                margin-top: 10px;

            }
        }
    }
}

.tooltip{
    width: 200px;
}